<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boardwalk</title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>You reach the end of the boardwalk and see etheral landscapes and the the air has a faint sweet smell to it.</h1>
    
        <img src="public/boardwalk.jpg" alt="Boardwalk" height=400px width=400px>

        <h2>The guide at the end of the boardwalk says that you have three choices. You can either go towards the sunny <a href="/beach">beach</a>, the cool <a href="/woods">woods</a>, or the <a href="/mountains">mountains!</a></h2>
    </div>
</body>
</html>