<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>You finally reach the mountain and notice a village.</h1>

        <img src="/public/continue.jpg" alt="Mountain Town" height=400px width=400px>

        <h2>
            Once you explore the village, you see two paths. 
            A <a href="/snowy">snowy path</a> and a <a href="/rocky">rocky path</a>.
            Or you can turn <a href="/boardwalk2">back</a> now.
        </h2>
    </div>
</body>
</html>
