<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mythic Island</title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>Welcome to Mythic Island!</h1>

        <img src="public/island.jpg" alt="Mythic Island" height=400px width=400px>

        <h2>Go have a look around. If you're lucky you may just find a mythical creature.</h2>

        <h2>Walk down to the end of the boardwalk?</h2>

        <a href="/boardwalk">Yes!</a>
    </div>
</body>
</html>