<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fairy</title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>You hear a giggle beneath you and a fairy reveals herself.</h1>

        <img src="/public/fairy.jpg" alt="Fairy" height=400px width=400px>

        <h2>She apologizes for making you cry and gives you some of her world famous honey. 
            The honey is delicious and you obviously forgive her and walk back to the 
            <a href="/boardwalk2">boardwalk</a> after she lets you down.</h2>
    </div>
</body>
</html>