<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        Welcome to Mythic Island<%= puncuation %><%= my_user %>
        
        <form action="/signup" method="POST">

            <p><input type="text" name="username" placeholder="What is your username?"></p>
            <p><input type="password" name="password" placeholder="What is your password?"></p>

            <input type="submit" value="Sign up!"/>
        </form>

        <% if (invalid_login) { %>
            <div class="error">
                Invalid Login
            </div>
        <% } %>
    </div>
</body>
</html>