<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree trap</title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>You journey upon the right path and find yourself lifted into the air by a rope trap.</h1>

        <img src="/public/tree trap.jpg" alt="Tree Trap" height=400px width=400px>

        <h2>
            You get tossed on your back and start to think about how to get out. You 
            <a href="/mom">call your mom for help</a>,
            <a href="/fairy">start to cry and yell</a>, or
            <a href="/lost">cut the rope with your handy pocket knife that you smuggled on the flight</a>?
        </h2>      
    </div>
</body>
</html>