<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>You reach a small stream on your ascent.</h1>

        <img src="/public/rocky.jpg" alt="Rocky Mountain" height=400px width=400px>

        <h2>The next leg looks tough. Do you <a href="/cave">keep going</a> or <a href="/boardwalk2">head back to the boardwalk</a>?</h2>
    </div>
</body>
</html>