<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>You reach a crystal clear lake surrounded by snow capped trees.</h1>

        <img src="/public/snowy.jpg" alt="Snowy Lake" height=400px width=400px>

        <h2>You hear there were Yeti sightings in the area. 
            Do you <a href="/tourists">continue exploring the snowy mountain</a> or 
                <a href="/boardwalk2">go back to the boardwalk while you still can</a>?
            </h2>
    </div>
</body>
</html>