<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicorn</title>
    <link href="public/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <h1>You reach the top of the right. You decide to take a break and view the wooded area from your perch.</h1>

        <img src="/public/unicorn.jpg" alt="Unicorn" height=400px width=400px>

        <h2>You see a magical unicorn and gaze upon it's glory. 
            After watching the creature disapear in the brush you decide to climb down and 
            <a href="/boardwalk2">go back to the boardwalk</a>.</h2>
    </div>
</body>
</html>